<ng-container>
  <!--toolbar-->
  <mat-toolbar color="primary" class="example-header">
    <span>Employee Management</span>
    <div class="uk-width-expand"></div>
  </mat-toolbar>
  <!--end toolbar-->

  <div class="uk-flex uk-flex-top uk-flex-center uk-height-viewport uk-dropbar-large">
    <mat-card class="uk-width-1-3@m uk-width-1-2@s">
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <h1>Login</h1>
      </div>
      <mat-card-content>
        <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="user.username" required>
          <mat-error *ngIf="username.hasError('required')">Username harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" [(ngModel)]="user.password"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">Password harus diisi</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password harus lebih dari 6 karakter</mat-error>
        </mat-form-field>
        <div class="uk-flex uk-flex-right">
          <button mat-raised-button color="primary" (click)="login(user)"
            [disabled]="loading">{{ loading ? 'WAIT..':'LOGIN' }}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
