.wp-custom-padding {
  width: 100%;
  padding-top: 5px;
}
.wp-padding {
  width: 100%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
::ng-deep .mat-select-placeholder {
  color: black;
}
.top-card {
  margin-top: 30px !important;
}
.custom-error {
  margin-top: 10px !important;
  margin-bottom: -15px !important;
  color: red;
}
