<h3 mat-dialog-title>
  Add / Edit Employee
</h3>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="wp-custom-padding">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" type="email" [email]="true">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Birth Date</mat-label>
    <input matInput [(ngModel)]="data.birthDate">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Basic Salary</mat-label>
    <input matInput [(ngModel)]="data.basicSalary" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Group</mat-label>
    <input matInput [(ngModel)]="data.group">
  </mat-form-field>
  <mat-form-field appearance="outline" class="wp-padding">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="saveData()">Save</button>
</div>
