.full-height {
  height: 100%;
}

.top-card {
  margin-top: 30px !important;
}

.padding-card {
  padding: 10px;
}

.custom-responsive {
  overflow: auto !important;
}

.custom-btn-yellow {
  color: yellow;
}
